.Modal {
    z-index: 500;
    position: fixed;
    background-color: white;
    width: 60%;
    padding: 24px;
    height: 80%;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.Modal h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    height: 80%;
    overflow: hidden;
}

.ImageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ImageContainer img {
    width: 100%;
}

.TextContainer {
    text-align: left;
    overflow: auto;
}

.TextContainer p {
    color: black;
    font-size: 1.2rem;
}

.CloseButton {
    background-color: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 40px;
    height: 40px;
    opacity: 0.3;
}

.CloseButton:hover {
    opacity: 1;
}

.CloseButton:before, .CloseButton:after {
    position: absolute;
    left: 45%;
    top: 25%;
    content: " ";
    height: 30px;
    width: 2px;
    background-color: #333;
}

.CloseButton:before {
    transform: rotate(45deg);
}

.CloseButton:after {
    transform: rotate(-45deg);
}

.ModalBackdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}