.AboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 30vh;
    padding: 0 16px 16px;

}

.AboutText {
    display: flex;
    text-align: left;
    align-items: center;
    padding-right: 5%;
}

.AboutText p {
    font-size: 1.8vw;
    margin-top: 0;
}

.AboutPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutPhoto img {
    width: 60%;
    border-radius: 360px;
}