
.navBar a, p{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.navBar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    z-index: 100;
    transition: 0.7s ease;
}

.navLinks {
    list-style: none;
    padding-inline-start: 0;
}

.navBarBlack {
    background-color: #1c2024;
}

