.NavLink {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}


.NavLink button {
    transition: all 0.3s ease 0s;
    background-color: transparent;
    border-color: transparent;
    color: #edf0f1;
    cursor: pointer;
    font-family: Raleway;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    outline: none;
}

.NavLink button:hover,
.NavLink button.active {
    color: #0088a9;;
}