.BackDrop {
    height: 100vh;
    background-color: #0088a9;
    overflow: hidden;
    display: block;
    position: relative;
    text-align: center;
}

.BackDrop video {
    min-height: 100%;
    min-width: 100%;
    z-index: 0;
}