.BackDrop {
    height: 100vh;
    background-color: #02232d;
    overflow: hidden;
    display: block;
    position: relative;
    text-align: center;
}


.ParticleCanvas {
    background-color: #114450;
    width: 100%;
    height: 100%;
}