.BackDrop {
    height: 100vh;
    background-color: #02232d;
    overflow: hidden;
    display: block;
    position: relative;
    text-align: center;
    border-top: transparent;
    border-style: solid;
    border-width: 10px;
}


.BackDrop video {
    min-height: 100%;
    min-width: 100%;
    z-index: 0;
}