.TVShowTracker {
    background: linear-gradient(to bottom, #616187, #31384e);
}

.DoorID {
    background: linear-gradient(to bottom, #7747e3, #877d2a);
}

.NoteSet {
    background: linear-gradient(to bottom, #0088a9, #024571);
}
